@use "./_reset.scss" as *;
@use "./_layout" as *;
@use "./_font" as *;
@use "./_page" as *;

// 컴포넌트
@use "./components/quotes" as *;
@use "./components/weather" as *;
@use "./components/timer" as *;

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Pretendard", sans-serif !important;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --blackwhite: 0 0% 10%;
    --timer-02-bg: 0 0% 10%;
    --timer-02-clock-bg: 0 0% 100%;
    --timer-02-timer-bg: 0 0% 100%;
    --timer-02-timer-text: 0 0% 10%;
    --timer-02-ring-text: 0 0% 100%;
    --timer-02-setting-btn: 0 0% 10%;
    --notion-default-bg: 0 0% 100%;
    --notion-default-text: 43 7% 20%;
    --notion-gray-bg: 60 7% 94%;
    --notion-gray-text: 45 2% 46%;
    --notion-brown-bg: 0 17% 94%;
    --notion-brown-text: 21 27% 47%;
    --notion-orange-bg: 31 64% 92%;
    --notion-orange-text: 28 63% 49%;
    --notion-yellow-bg: 46 74% 92%;
    --notion-yellow-text: 38 51% 51%;
    --notion-green-bg: 110 20% 94%;
    --notion-green-text: 141 21% 42%;
    --notion-blue-bg: 197 47% 94%;
    --notion-blue-text: 206 39% 46%;
    --notion-purple-bg: 276 26% 96%;
    --notion-purple-text: 271 29% 54%;
    --notion-pink-bg: 334 37% 96%;
    --notion-pink-text: 327 38% 52%;
    --notion-red-bg: 0 58% 95%;
    --notion-red-text: 4 50% 54%;
  }
  .dark {
    --background: 0 0% 10%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --blackwhite: 0 0% 100%;
    --timer-02-bg: 0 0% 100%;
    --timer-02-clock-bg: 0 0% 10%;
    --timer-02-timer-bg: 0 0% 0;
    --timer-02-timer-text: 0 0% 100%;
    --timer-02-ring-text: 0 0% 10%;
    --timer-02-setting-btn: 0 0% 100%;
    --notion-default-bg: 0 0% 10%;
    --notion-default-text: 0 0% 83%;
    --notion-gray-bg: 0 0% 15%;
    --notion-gray-text: 0 0% 61%;
    --notion-brown-bg: 18 12% 16%;
    --notion-brown-text: 19 25% 51%;
    --notion-orange-bg: 26 27% 17%;
    --notion-orange-text: 28 59% 51%;
    --notion-yellow-bg: 37 26% 17%;
    --notion-yellow-text: 39 55% 49%;
    --notion-green-bg: 137 9% 15%;
    --notion-green-text: 141 31% 45%;
    --notion-blue-bg: 201 18% 15%;
    --notion-blue-text: 216 56% 53%;
    --notion-purple-bg: 270 14% 16%;
    --notion-purple-text: 266 41% 55%;
    --notion-pink-bg: 333 14% 16%;
    --notion-pink-text: 335 45% 51%;
    --notion-red-bg: 8 19% 17%;
    --notion-red-text: 4 47% 52%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

// timer-02 시계 효과
// @property --remain {
//   syntax: "<percentage>";
//   inherits: false;
//   initial-value: 0%;
// }
