.widget_container {
  /***************************************************
  * TIMER 01
  **************************************************/
  &[data-variant="timer01"] {
  }

  /***************************************************
  * TIMER 02
  ***************************************************/
  &[data-variant="timer02"] {
    .timer_clock {
      border: 1px solid black;
      max-width: 70%;
      width: 100%;
      aspect-ratio: 1/1;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: conic-gradient(black var(--remain, 0%), transparent 0);
    }
  }
}
