.weather_container {
  /******************************
  * typeA
  *******************************/
  &[data-variant="typeA"] {
    width: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    flex-direction: column;
    padding: clamp(0.5rem, 10vw, 1.2rem);
    border-radius: clamp(10px, 10vw, 20px);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    background-color: #fff;

    .weather_image {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .weather_image_box {
        position: relative;
        width: 60%;
        aspect-ratio: 1/1;
      }
    }

    .weather_info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 0.3rem;
      flex: 3;
      .weather_temp {
        font-size: clamp(2rem, 20vw, 4rem);
        font-weight: 300;
      }

      .weather_location {
        font-size: clamp(0.5rem, 5vw, 1rem);
      }
    }
  }
}
