/**************************************************/
/* 색상 코드 */
/* border: #D8D8D8 */
/* background: #F5F5F5 */
/* progress bar: #D3D3D3 */
/* add/minus button, button background: #D3D3D3 */
/**************************************************/

.timer {
  width: 100%;
  height: 100%;
  display: flex;
}

.title {
  font-size: 32px;
  font-weight: bold;
}
